body{
    font-family: 'Poppins', sans-serif;
}

#classic-taxt{
    
    font-family: 'Luxurious Roman', cursive;
    
}
.h-blue{
    font-size: 40px;
    color: darkblue;
}
.h-gold{
    font-size: 50px;
    color: gold;
}

.link-button{
    text-decoration: none;
    padding: 5px 40px;
    background-color: red;
    color: white;
    
    
    margin-left: 40%;

    


}

section{
    display: flex;
}
.half-width{
    margin: 5%;
    width: 50%;
}
.half-width img{
   width: 800px;
   height: 600px;
   margin: 0%;

   
   
   

}
.text-box-ca{
    box-shadow: 10px 10px 40px blue;
    padding-left: 2%;
    padding-right: 2%;
}
.img-box-ca{
    box-shadow: 10px 10px 40px blue;
    margin: 5%;
    padding: 15px;
    
    

}

.text-box-dr{
    box-shadow: 10px 10px 40px gold;
    padding-left: 2%;
    padding-right: 2%;
}
.img-box-dr{
    box-shadow: 10px 10px 40px gold;
    margin: 5%;
}