.unic {
   
    color: red;
    margin-top: 50px;
    margin-bottom: 100px;
    
}
  
.common {
    color: green;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.power{
    height: 400px;
    width: 600px;
}
.nuture{
    height: 400px;
    width: 600px;
}

